.conteiner{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 70%;
}

.tela{
    background-image: linear-gradient(180deg, #ffc70e, #d6e0e2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 60%;
    cursor: pointer;
    overflow: hidden;
    margin-right: 1rem;
}

.nomeProjeto{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    font-size: 4em;
    height: 10%;
}


.active{
    position: absolute;
    height: 90vh;
    z-index: 2;

    animation-name: Slider;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}

.inativo{
    display: none;
}

.nome{display: none;}

.inativoOk{display: block;}

@media (max-width: 570px) {

    .nomeProjeto{
        font-size: 2.5em;
        top: 1%;
    }

    .nomeProjeto2{
        font-size: 2.5em;
        top: 1%;
    }  

    .nomeProjeto3{
        font-size: 2.5em;
        top: 1%;
    }

    .nomeProjeto4{
        font-size: 2.5em;
        top: 1%;
    }  
}

@keyframes Slider{
    from{ width: 0;}
    to{width: 90%;}
}