.conteiner{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 70%;
    flex-wrap: wrap;
    background-image: linear-gradient(180deg, black, gray);
}

.social{
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    width: 25%;
    justify-content: space-between;
    color: #ffffff;
    bottom: 7rem;

}

.l:hover{
    color: #ebb60b;
    cursor: pointer;
}

.linha{
    position: absolute;
    background-color: #ebb60b;
    width: 70%;
    height: 0.3rem;
    border-radius: 2rem;
    top: 16.8rem;
}

.titulos{
    font-size: 2rem;
    font-weight: bold;
    color: #ebb60b;
}

.pro{
    position: absolute;
    left: 50%;
    top: 2.7rem;
}

.desen{
    position: absolute;
    left: 20%;
    padding-top: 5rem;

}

.conteiner ol{
    color: #ffc70e;
    text-decoration: none;
    padding: 1rem;
    list-style-type: none;
    font-weight: bold;    
}

.conteiner ol li{
    padding-top: 1rem;
}

@media (max-width: 1280px){
    .linha{top: 15.8rem;}
}


@media (max-width: 1024px){

    .conteiner{
        width: 90%;
    }

}

@media (max-width: 480px) {
    
    .pro{
        top: 1rem;
        left: 30%;}
    
    .social{
        width: 65%;
        bottom: 3rem;
    }
    
    .v2{right: 10%;}

    .desen{
        padding-top: 8rem;
    }

    .linha{
        top: 15rem;
    }
}

@media (max-width: 600px) {
    .conteiner{width: 100%;}
}

@media (max-width: 414px) {

    .titulos{font-size: 1.5em;}

    .pro{left: 50%;}

    .conteiner ol {
        padding-top: 0em;
    }
    .conteiner ol li{
        padding-top: 0.5em;
       font-size: 0.8em;
    }

    .linha{top: 11em;}

    .desen{
        padding-top: 4em;}
}

@media (max-width: 896px) and (max-height: 415px){

    .linha{display: none;}
    .social{
        right: 3em;
        bottom: 1em;}
}


@media (max-width: 896px) and (max-height: 414px){

    .pro{
        left: 60%;
    }

    .desen{
        left: 10%;
    }
    

    .social svg{
        font-size: 0.8em;
    }

}

@media (max-width: 736px) and (max-height: 414px){

    .social{
        right: 10%;
    }

}

@media (max-width: 746px) and (max-height: 349px){
    
    .social{
        right: 10%;
        top: 85%;
    }
    .social svg{
        font-size: 0.6em;
    }

}

@media (max-width: 667px) and (max-height: 375px){

    .pro{
        font-size: 0.7em;
        left: 60%;
    }
    
    .desen{
        left: 10%;
    }
    
    .social{
        right: 10%;
        top: 80%;
    }
    .social svg{
        font-size: 0.6em;
    }
}