.conteiner{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-wrap: wrap;
    background-image: linear-gradient(180deg, black, gray);
}

.social{
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    width: 25%;
    justify-content: space-between;
    color: #ffffff;
    bottom: 7rem;

}

.l:hover{
    color: #ebb60b;
    cursor: pointer;
}

.linha{
    position: absolute;
    background-color: #ebb60b;
    width: 70%;
    height: 0.3rem;
    border-radius: 2rem;
    top: 16.8rem;
}

.titulos{
    font-size: 2rem;
    font-weight: bold;
    color: #ebb60b;
}

.pro{
    position: absolute;
    left: 50%;
    top: 2.7rem;
}

.desen{
    position: absolute;
    left: 20%;
    padding-top: 5rem;

}

.conteiner ol{
    color: #ffc70e;
    text-decoration: none;
    padding: 1rem;
    list-style-type: none;
    font-weight: bold;    
}

.conteiner ol li{
    padding-top: 1rem;
}

@media (max-width: 480px) {
    
    .pro{
        top: 1rem;
        left: 30%;}
    
    .social{
        width: 65%;
        bottom: 3rem;
    }
    
    .v2{right: 10%;}

    .desen{
        padding-top: 8rem;
    }

    .linha{
        top: 15rem;
    }
}