.conteiner{
    display: flex;    
    position: relative;
    justify-content: center;
    height: 90vh;
    top: 0;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}

.imGG{
    position: relative;
    right: 5%;
}
.imGG img {border-radius: 10px;}

@media (max-width: 1280px){

    .imGG{right: 0;}
    
}

@media (max-width: 768px){

    .imGG{right: 0;}
    .imGG img{width: 400px;}
}