.conteiner{
    display: flex;    
    position: relative;
    justify-content: center;
    height: 90vh;
    top: 0;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}

.imGG{
    position: relative;
    top: 3%;
    right: 5%;
}

.imGG img {border-radius: 10px;}

@media (max-width: 1413px){

    .imGG{right: 1%;} 
}

@media (max-width: 1280px){

    .imGG{right: 0;} 
}

@media (max-width: 1267px){

    .hab{
        position: relative;
        display: flex;
    } 
}


@media (max-width: 768px){

    .imGG img{width: 600px;}
    
    .hab{
        position: relative;
        display: flex;
        justify-content: center;
        bottom: 5%;
        width: 100%;
    }
}

@media (max-width: 618px){

    .imGG img{width: 450px;}
}

@media (max-width: 479px){

    .imGG img{width: 400px;}
}

@media (max-width: 400px){

    .imGG img{width: 330px;}
    
    .hab{
        width: 95%;
        left: 1%;
    }
}

@media (max-width: 321px){

    .imGG img{width: 270px;}
}

@media (max-width: 915px) and (max-height: 415px){

    .conteiner{
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
    }
        
    .imGG img{width: 250px;}

    .hab{padding: 10px;}

}

@media (max-width: 896px) and (max-height: 414px){

    .hab{top: -15%;}
    .imGG{right: -4%;}

}

@media (max-width: 667px) and (max-height: 375px){

    .imGG img{width: 170px;}
    .imGG{right: -12%;}

}

@media (max-width: 736px) and (max-height: 414px){

    .imGG{right: -12%;}

}