.conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 800px;
    width: 80%;
}

.imagemHome{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.imagemHome img{
    border-radius: 7px;
    width: 80%;
}

.habilidades{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 1fr;
}

.titulo{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 3em;
}

.skils{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.skils svg {
    position: relative;
    font-size: 3em;
    cursor: pointer;
    z-index: 1;
}

.tela{
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 20%;
    top: 10%;
    border: 5px solid black;
}

.valorSkil{
    position: relative;
    font-size: 2em;
    font-weight: bolder;
    bottom: -10%;
    left: -2%;
    padding: 3px;
    background-color: #ffff;
}

@media (max-width: 1024px){

    .conteiner{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .habilidades{
        grid-template-rows: 1fr 0.6fr 1fr;
    }

    .skils svg{
        font-size: 2.3em;
    }

    .tela{
        height: 35%;
    }
}

@media (max-width: 585px){

    .conteiner{
        width: 100%;
    }

    .habilidades{
        grid-template-rows: 1fr 0.8fr 1fr;
        margin: 3%;
    }

    .skils svg{
        font-size: 2em;
    }

    .tela{
        height: 50%;
    }

    .valorSkil{
        bottom: -20%;
        font-size: 1.5em;
    }
}

@media (max-width: 896px) and (max-height: 414px){

    .conteiner{height: 160vh;}

    .habilidades{
        position: relative;
        bottom: 15%;
    }

    .tela{
        height: 70%;
    }
}

@media (max-width: 736px) and (max-height: 414px){

    .conteiner{height: 150vh;}

    .habilidades{
        position: relative;
        bottom: 15%;
    }

    .tela{
        height: 70%;
    }
}

/* MEDIDAS IPHONE 8,7,6,6S VERTICAL E HORIZONTAL */
@media (max-width: 375px) and (max-height: 667px){}

@media (max-width: 667px) and (max-height: 375px){

    .conteiner{height: 150vh;}

    .habilidades{
        position: relative;
        bottom: 15%;
    }

    .tela{
        height: 70%;
    }
}
