.ettabs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  background: #d6e0e2;
  text-align: center;
  padding: 0 2em;
  top: 0;
  font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(180deg, #d6e0e2, #ffff);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 10;
    flex-wrap: wrap;
}

.ethero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    text-decoration-line: none;
    letter-spacing: 0.1rem;
		transition: all 0.5s ease;
		font-size: 1rem;
    cursor: pointer;

}

.ethero:hover{
  color:white;
  background: #ffc70e;
  transition: all 0.5s ease;
}