.conteinerP{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 5px;
    height: 100vh;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.conteinerProjetos{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 80%;
    font-size: 2.7em;
    border-radius: 7px;
    background-image: linear-gradient(180deg, #ffc70e, #d6e0e2);
    cursor: pointer;
}

.nomeProjeto{
    position: absolute;
    font-weight: bolder;
    transform: rotate(90deg);
    letter-spacing: 20px;
}

.nomeNone{
    display: none;
}

.projetoNone{
    display: none;
}

/* CONFIGURACAO DE ARE DE APRESENTACAO DE PROJETOS */

.conteinerAtivo{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 5px;
    height: 100vh;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.active{
    width: 100%;
    height: 90%;
    position: relative;
    animation-name: Slider;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.activeProjeto{
    display: block;
}

.displayNone{
    display: none;
}

/* ==================== */

@media (max-width: 1024px){
    .Conteiner{width: 90%;}
}

@media (max-width: 800px){
    .Conteiner{width: 95%;}
}

@media (max-height: 940px){

    .Conteiner{height: 100vh;}
    .conteinerProjetos{height: 80vh;}
} 

@media (max-height: 700px){

    .Conteiner{height: 130vh;}
} 

@media (max-height: 662px){

    .Conteiner{height: 150vh;}
}

@media (max-height: 578px){

    .Conteiner{height: 170vh;}
}

@media (max-width: 414px) and (max-height: 896px){

    .Conteiner{width: 90%;}
}

@media (max-width: 896px) and (max-height: 414px){

    .conteinerProjetos{
        font-size: 2em;
    }

    .nomeProjeto{letter-spacing: 5px;}
}

@media (max-width: 375px) and (max-height: 667px){

    .conteinerProjetos{height: 85%;}
}

/* keyframe */

@keyframes Slider{
    from{ width: 0;}
    to{width: 100%;}
}