.conteiner{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.5fr 0.2fr 0.2fr;
    text-align: justify;
    font-size: 1.3em;
    height: 100%;
    width: 80%;

}

.ImagemSobre{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 5px;
}

.ImagemSobre img {
    width:350px;
}

.Sobre{
    margin: 5px;
}

.Formacao{
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: 15px;
    margin: 5px;
}

.ApresentacaoSobre{
    grid-column-start: 1;
    grid-column-end: 3;
    justify-items: center;
    margin: 5px;
}

@media (max-width: 1024px){

    .conteiner{
        width: 90%;
    }

}

@media(max-width:800px){

    .ImagemSobre img {width: 240px;}

    .Sobre{font-size: 0.9em;}

    .Formacao{
        grid-column-start: 1;
        grid-column-end: 3;
        height: 130px;
        font-size: 0.9em;
    }
    
    .ApresentacaoSobre{font-size: 0.9em;}
}

@media(max-width: 650px) {

    .conteiner{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .ImagemSobre {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .Sobre{
        grid-column-start:1;
        grid-column-end:3;
    }
}