.conteiner{
    position: relative;
    display: flex;
    height: 90vh;
    background-image: linear-gradient(90deg, #d6e0e2, #ffff, #d6e0e2);
    justify-content: space-between;
}

.conteiner div:nth-child(2){
    text-align: justify;
    padding: 3rem;
    margin-top: 3rem;    
}

.conteiner p{
    margin-top: 1rem;
    font-size: 1.2rem;
}
.conteiner div img{
    position: relative;
    width: 27rem;
    border-radius: 0.5rem;
    top: 10rem;
    left: 2rem;
    z-index: 1;
}

.conteiner div:nth-child(3){
    position: absolute;
    right: 10rem;
    bottom: 5rem;
}

.l2{
    position: absolute;
    background-color: #ffc70e;
    bottom: 15rem;
    width: 100%;
    height: 1rem;
}
.v2{
    position: absolute;
    background-color: #ffc70e;
    width: 1rem;
    height: 100%;
    left: 20%;
}


@media (max-width: 480px) {
    
    .conteiner div img{
        width: 23rem;
        top: 3rem;
    }
    .l2, .v2{
        display: none;
    }
    .conteiner{flex-wrap: wrap;
    height: 110vh;}
    
    .conteiner div:nth-child(2){
        position: relative;
        margin-top: 0;
        top: 1rem;
        padding: 1rem;
    }

    .conteiner div:nth-child(3){
        position: relative;
        left: 1rem;
        padding: 0.5rem;
        bottom: 1rem;
    }
}