.conteiner{
    display: flex;
    position: absolute;
    top: 50%;
    right: 1rem;
    font-size: 4rem;
    justify-content: space-between;
    width: 50%;
}

.contnei{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.pon{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.h{
    position: absolute;
    top: 13rem;
    left: 5rem;
    font-size: 3rem;
}
.h div{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.h span:nth-child(1){
    position: absolute;
    font-size: 9rem;
    font-family: 'Secular One', sans-serif;
    right: 3rem;
    right: 100%;
    bottom: -3.5rem;
}

.h span:nth-child(3){
    position: absolute;
    font-size: 5rem;
    font-family: 'Secular One', sans-serif;
    font-size: 9rem;
    left: 100%;
    top: 1rem;

}

@media (max-width: 480px) {

    .conteiner{
        top: 57%;
        width: 100%;
        flex-wrap: wrap;
        left: 1px;
    }

    .contnei{padding-top: 10px;}

    .h{
        left: 4rem;
        font-size: 23px;
        top: 13rem;
    }

    .h span:nth-child(1){font-size: 5rem;}

    .h span:nth-child(3){font-size: 5rem;}

}