.container{
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    font-size:8rem;
    align-items: center;
    justify-content: center;
}

.w{
    position: relative;
    bottom: 15%;
	font-family: 'El Messiri', sans-serif;

    animation-name: sliderW;
    animation-duration: 2s;
    transform: translateX(-70rem);
    animation-fill-mode: forwards;
}

.s{
    position: relative;
    right: 2.5rem;
    top: 0.5rem;
	font-family: 'El Messiri', sans-serif;

    animation-name: sliderS;
    animation-duration: 2s;
    transform: translateX(70rem);
    animation-fill-mode: forwards;

}

.linha{
    position: absolute;
    background: #eee;
    width: 70px;
    height: 25px;
    transform: rotate(-46deg);
    left: 40%;
    top: 31%;
    z-index: 1;

    animation-name: sliderWhite;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

.llinha{
    position: absolute;
    background-color: black;
    width: 200px;
    height: 5px;
    transform: rotate(-43deg);
    left: 18%;
    z-index: 2;
    bottom: 65%;

    animation-name: sliderLinha;
    animation-duration: 1.5s;
}

.nome{
    position: absolute;
    font-size: 2rem;
    bottom: 3rem;
    left: 2rem;

    animation-name: sliderNome;
    animation-duration: 2s;
}

@keyframes sliderW{
    to{
        transform: translateX(0);
    }
}

@keyframes sliderS{
    to{
        transform: translateX(0);
    }
}

@keyframes sliderWhite{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes sliderLinha{
    from {
        top: -50%;
    }
    to{
        top: 35%;
    }
}

@keyframes sliderNome{
    from {
        bottom: -60%;
    }
    to{
    }
}