.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nome{
    width: 100%;
    font-size: 4rem;
    animation-name: sliderNome;
    animation-duration: 2s;
}

.circulo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 10px solid #ff0000;
    height: 14em;
    width: 14em;
    bottom: 5%;
}

.ws{
    font-size: 9em;
    font-weight: bold;
    font-family: 'Nova Mono', monospace;
}

@media (max-width: 479px){

    .circulo{
        height: 10em;
        width: 10em;
    }

    .ws{
        font-size: 7em;
    }

    .nome{
        font-size:2.7em;
    }
}

@media (max-width: 320px){

    .nome{
        font-size:2.4em;
    }
}

/* s20fe na vertical */
@media (max-width: 723px) and (max-height: 280px) {

    .container{
        bottom: -20%;}
}

@media (max-width: 915px) and (max-height: 414px) {

    .circulo{
        height: 7em;
        width: 7em;
    }

    .ws{font-size: 4em;}

}

@media (max-width: 896px) and (max-height: 414px){

    .container{
        bottom: 20%;
    }

    .circulo{bottom: -40%;}

    .nome{
        position: relative;
        top: 40%;
    }
}

/* MEDIDAS IPHONE 8,7,6,6S VERTICAL E HORIZONTAL */
@media (max-width: 375px) and (max-height: 667px){

    .circulo{
        height: 7.5em;
        width: 7.5em;
    }

    .ws{font-size: 4.5em;}
}

@media (max-width: 667px) and (max-height: 375px){

    .nome{
        position: relative;
        top: 40%;
    }
    .circulo{
        height: 7em;
        width: 7em;
    }
    .ws{
        font-size: 3.5em;}

}
