.Container{
    position:absolute;
    right: 10%;
    top: 14rem;
    width: 500px;
}

.Container h1{font-size: 3rem;}

.Container div{
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.Container div svg{
    font-size: 3rem;
}

.Container div:nth-child(4){
    text-align: justify;
}

@media (max-width: 1250px) {
    .Container{right: 5%;}
}

@media (max-width: 1158px) {

    .Container{right: 1%;}
}

@media (max-width: 1020px) {
    
    .Container{
        top: 29rem;
        right: 5%;
        width: 90%;
    }
}

@media (max-width: 820px) {
    
    .Container{top: 35rem;}
}

@media (max-width: 768px) {
    
    .Container{top: 37rem;}

}

@media (max-width: 566px) {

    .Container{
        top: 26rem;
        left: 5px;
        width: 360px;
    }

    .Container div:nth-child(4){
        font-size: 12px;
    }

    .Container h1{
        font-size: 2rem;}

    .Container div svg{
        font-size: 1.5rem;}
}

@media (max-width: 566px) {
    
    .Container div:nth-child(4){
        width: 320px;
        font-size: 16px;
        left: 1%;
    }

    .Container div:nth-child(5){
        bottom: -13%;
        position: absolute;
    }
}

@media (max-width: 414px) {
    .Container{top: 55%;}
}