.Container{
    position:absolute;
    right: 15rem;
    top: 14rem;
    width: 500px;
}

.Container h1{font-size: 3rem;}

.Container div{
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.Container div svg{
    font-size: 3rem;
}

.Container div:nth-child(4){
    text-align: justify;
}

@media (max-width: 480px) {

    .Container{
        top: 26rem;
        left: 5px;
        width: 360px;
    }

    .Container div:nth-child(4){
        font-size: 12px;
    }

    .Container div:nth-child(5){
        z-index: 2;
    }
    
    .Container h1{
        font-size: 2rem;}

    .Container div svg{
        font-size: 1.5rem;}
}