.Container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 170px 1fr;
}

.nomeProjeto{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    font-size: 4em;
    height: 10%;
    top: 21%;
}

.contSecundario{
    position:relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.imagemProjeto img{
    width: 380px;
}

.Container h1 {
    position: relative;
    display: flex;
    justify-content: right;
    width: 100%;
    padding: 10px;
    font-size: 3em;
}

.dadosSkil{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.skils{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skils div {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    padding: 3px;
}

.skils div svg{
    font-size: 2em;
}

.texto{
    position: relative;
    text-align: justify;
    font-size: 1.5em;
    padding: 10px;
    top: 2%;
}

.link{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    top: 5%;
    padding-top: 5%;
}

@media (max-width: 1400px) {

    .skils div{
        font-size: 0.8em;
        flex-direction: column;
    }

    .skils div svg{font-size: 1.5em;}

}

@media (max-width: 1124px) {
    .imagemProjeto{right: 10%;}
    .dadosSkil h1{font-size: 2.2em;}
}

@media (max-width: 1250px) {
    .dadosSkil h1 {font-size: 2.2em;}
}

@media (max-width: 1100px) {
    .skils{flex-direction: column;}
    .skils div{
        flex-direction: row;}
    .texto{font-size: 1.2em;}
}

@media (max-width: 1000px) {

    .contSecundario{flex-direction: column;}
    .imagemProjeto img{width: 300px;}
}

@media (max-width: 910px) {

    .Container h1{
        font-size: 2em;
    }
}

@media (max-width: 570px) {

    .Container{
        display: flex;
        flex-direction: column;
    }

    .nomeProjeto{
        font-size: 2.5em;
        top: 10%;
        transform: rotate(0deg);}
    .imagemProjeto img {width: 280px;}

    
}

@media (max-width: 414px) {

    .nomeProjeto{top: 1%;}

    .imagemProjeto img {width: 200px;}
    .link{
        font-size: 1em;
        padding: 0;}
    
}

@media (max-width: 360px) {
    
}

@media (max-width: 320px) {

}

@media (max-width: 390px) and (max-height: 844px){


}

@media (max-width: 414px) and (max-height: 896px){
    
}

@media (max-width: 412px) and (max-height: 915px){
    
}

@media (max-width: 390px) and (max-height: 844px){
    
}

@media (max-width: 375px) and (max-height: 667px){

}

@media (max-width: 360px) and (max-height: 740px){

}

@media (max-width: 360px) and (max-height: 640px){

}

@media (max-width: 320px) and (max-height: 658px){

}

@media (max-width: 320px) and (max-height: 480px){
    
}